autom4te.cache

syntax: glob
*.a
*.ko
*.la
*.lo
*.mod
*.mod.c
*.o
*.orig
*.os
*.rej
*.so
*~
.deps$
.libs$
Makefile
TAGS
libtool

syntax: regexp
.deps/*
.libs/*

^libwimax-.*\.pc$
^lib/config\.h$
^lib/stamp-h1$
^config\.log$
^config\.status$
^doc/doxygen.conf$
^bin/wimax-tools-version$
^include/wimax-version\.h
^src/gnltest$
^src/wimax-rfkill$
^src/wimax-reset$
^src/test-rfkill$
^src/test-dump-pipe$
^doc/html$
^doc/latex$
