libtool
Makefile
TAGS
*.a
*.ko
*.la
*.lo
*.mod
*.mod.c
*.o
*.orig
*.os
*.rej
*.so
*cscope*
*~
.deps/
.libs/

/autom4te.cache/
/bin/wimax-tools-version
/config.log
/config.status
/doc/doxygen.conf
/doc/html/
/doc/latex/
/include/wimax-version.h
/include/wimaxll-version.h
/lib/config.h
/lib/stamp-h1
/libwimax-0-uninstalled.pc
/libwimax-0.pc
/libwimaxll-0-uninstalled.pc
/libwimaxll-0.pc
/src/test-dump-pipe
/src/test-rfkill
